<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
  </head>
  <body>
    <h1>Recuperar Contraseña</h1>
    <p>Hemos recibido una solicitud para restablecer tu contraseña. Si no has realizado esta solicitud, puedes ignorar este correo electrónico.</p>
    <p>Para restablecer tu contraseña, haz clic en el siguiente enlace:</p>
    <p><a href="{{resetLink}}">{{resetLink}}</a></p>
    <p>Si tienes problemas al hacer clic en el enlace, puedes copiar y pegarlo en la barra de direcciones de tu navegador.</p>
    <p>Gracias</p>
  </body>
</html>